<%= form_with(model: communicate, local: true) do |form| %>
  <% if communicate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(communicate.errors.count, "error") %> prohibited this communicate from being saved:</h2>

      <ul>
        <% communicate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
